* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.34;
    font-family: inherit;
}

#header {
    height: 70px;
    background: linear-gradient(#4c68a1, #3b5998);
    padding: 13px 0 0;
}

#facebook {
    display: inline-block;
    margin-top: 15px;
    margin-left: 130px;
    width: 200px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 40px;
}

#login_form {
    float: right;
    margin-right: 141px;
}

#login_form label {
    color: #fff;
}

#login_form a {
    color: #9cb4d8;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #385898;
}

#submit {
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

table {
    color: #1c1e21;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 65px;
    line-height: 16.08px;
    margin: 0px;
    padding: 0px;
    width: 392px;
}

table>tr:eq(0)>td:eq(1)>label:eq(0) {
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 16.08px;
    margin: 0px;
    padding: 0px 0px 0px 1px;
    width: 53px;
}

#email,
#pass {
    background-color: #ffffff;
    color: #1c1e21;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    border: 1px solid rgb(36, 35, 35);
    line-height: normal;
    margin: 0px;
    padding: 3px 3px 4px;
    width: 150px;
}

#quote-fb {
    color: #0e385f;
    font-family: Helvetica, Arial, sans-serif;
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}

#container {
    background: linear-gradient(white, #D3D8E8);
}

#middel {
    margin: 0 10%;
    position: relative;
    width: 80%;
    display: flex;
}

#left-content {
    width: 50%;
    margin-right: 5%;
}

#head-span {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

#sub-text {
    color: #1d2129;
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
}

#sign-up {
    width: 46%;
    margin: 2%;
}

#form {
    margin-top: 20px;
}

#form input {
    display: block;
    margin: 5px;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

#form input::placeholder {
    color: #999;
}

#number input,
#password input,
#gender-op {
    width: 100%;
}

#name input {
    display: inline-block;
    width: 40%;
}

.info {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px 0 0;
}

select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccd0d5;
    margin-right: -4px;
}

#gender label {
    font-family: Helvetica, Arial, sans-serif;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}

#gender label,
#gender input {
    display: inline;
}

#costum-info {
    margin: 9px 0;
    display: none;
}

.option-name {
    font-family: Helvetica, Arial, sans-serif;
    height: 30px;
    width: 100%;
}

.sub-info {
    color: #606770;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-top: 13px;
    margin-bottom: 16px;
}

#other-info {
    display: inline;
}

#other-info:hover #costum-info {
    display: block;
}

.img-b {
    display: none;
    margin-left: 9px;
}

#sign-up-botton:hover .img-b {
    display: inline-block;
}

#sign-up-botton button {
    background: linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid #2c5115;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    line-height: 126%;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}

ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0 0 0;
    width: 1000px;
}

ul li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    padding: 0 0 0 10px;
}

#languages {
    margin-top: 1.6em;
    margin-bottom: .6em;
}

#footer {
    margin: 0px auto;
    width: 77%;
}

#no-link {
    color: #737373;
}

#footer-links li {
    padding: 0 20px 0 0;
}

.copyright {
    color: #737373;
    margin: 20px auto;
    width: 980px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}